@model PowerBot.ASP.Models.UserViewModel

@{
    ViewData["Title"] = Model.User.FullName;
}
<h1>@ViewData["Title"]</h1>
<br />
<span><b>Id</b> @Model.User.Id</span>
<br />
<span><b>Telegram Id</b> @Model.User.TelegramId</span>
<br />
<span><b>Username</b> <a href="http://t.me/@Model.User.UserName">@Model.User.UserName</a></span>
<br />
<span><b>Full name</b> @Model.User.FullName</span>
<br />
<span><b>Access</b> @Model.User.UserAccess</span>
<br />
<span><b>Last activity</b> @Model.User.ActiveAt.ToString()</span>
<br />
<br />
<h4>Send message</h4>
<form asp-action="SendMessage" method="post">
    <input type="number" name="userId" value="@Model.User.Id" hidden />
    <div class="form-group">
        <input name="text" class="form-control" />
    </div>
    @if (Model.SendMessageError != string.Empty)
    {
        <span class="btn-danger">@Model.SendMessageError</span><br />
    }
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<br />
