@model PowerBot.ASP.Models.UsersViewModel

@{
    ViewData["Title"] = "Users";
}
<h1>@ViewData["Title"]</h1>

<p>List of all stored bot users</p>

<table>
    <tr>
        <th>Id</th>
        <th>Telegram Id</th>
        <th>Username</th>
        <th>Full name</th>
        <th>Active At</th>
        <th>Access</th>
        <th>Settings</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.TelegramId</td>
            <td><a href="@Url.Action("GetUser", "Users", new { id = user.Id })">@user.UserName</a></td>
            <td>@user.FullName</td>
            <td>@user.ActiveAt</td>
            <td>@user.UserAccess.ToString()</td>
            <td>
                <button id="button_edit_@user.Id" class="btn btn-info" data-toggle="modal" data-target="#editModal">Edit Access</button>
            </td>
        </tr>
    }
</table>

<!-- Modal -->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit user access</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form asp-action="GrantUserAccess" method="post">
                    <input type="number" name="userId" id="userIdInput" hidden/>
                    <div class="form-group">
                        <label for="pwd">User Access:</label>
                        <select name="userAccess" class="form-control" asp-items="Html.GetEnumSelectList<PowerBot.Core.Models.UserAccess>()">
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $('[id^="button_edit_"]').click(function () {
        var id = $(this).attr("id");
        id = id.replace("button_edit_", "");

        $('input[name="userId"]').val(id);
    });
</script>
